body
{
    font-family: Readex Pro;
    margin: 0%;
}
.container
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mainLogo{
    position: absolute;
    width: 174px;
    height: 86px;
    left: 490px;
    top: 0px;
}
.menuBar ul
{
    position: absolute;
    width: 817px;
    height: 16px;
    left: 490px;
    top: 92px;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
}
.menuBar li
{
    display: inline-block;
    list-style: none;
}
.menuBar a
{
    text-decoration: none;
    color: #000;
}
.mainPg
{   
    position: absolute;
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}
.titolo
{
    width: 770px;
    height: 145px;
    left: 608px;
    top: 185px; 
    font-size: 40px;
}
.articleText
{   
    position: absolute;
    width: 620px;
    height: 422px;
    left: 650px;
    top: 777px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}
