body
{
    font-family: Readex Pro;
    margin: 0%;
}
.container
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mainLogo 
{
    position: absolute;
    width: 174px;
    height: 86px;
    left: 490px;
    top: 0px;
}
.menuBar ul
{
    position: absolute;
    width: 817px;
    height: 16px;
    top: 92px;
    margin-left: 490px;
    padding-left: 16px;
}
.menuBar li
{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
.menuBar a
{
    text-decoration: none;
    color: #000;
}
.mainPg
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.titolo
{
    width: 770px;
    margin-left: 608px;
    margin-right: 542px;
    margin-top: 185px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
}
.iceImg
{
    width: 700px;
    height: 373px;
    margin-left: 610px;
    margin-right: 367px;
}
.articleText
{
    width: 620px;
    height: 422px;
    margin-left: 650px;
    margin-right: 650px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
